@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

p,
li {
  color: hsl(var(--muted-foreground));
  font-size: small;
}

@layer base {
  :root {
    --background: 212 16% 15%;
    --foreground: 60 36% 96%;
    --muted: 212 12% 19%;
    --muted-foreground: 212 12% 69%;
    --popover: 212 16% 12%;
    --popover-foreground: 0 0% 100%;
    --card: 212 16% 13%;
    --card-foreground: 0 0% 100%;
    --border: 212 6% 20%;
    --input: 212 6% 23%;
    --primary: 6 78% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 6 30% 75%;
    --secondary-foreground: 6 30% 15%;
    --accent: 212 16% 30%;
    --accent-foreground: 212 16% 90%;
    --destructive: 6 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 6 78% 57%;
    --chart-1: 6 78% 57%;
    --chart-2: 6 30% 75%;
    --chart-3: 212 16% 30%;
    --chart-4: 6 30% 78%;
    --chart-5: 6 81% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 16% 15%;
    --foreground: 60 36% 96%;
    --muted: 212 12% 19%;
    --muted-foreground: 212 12% 69%;
    --popover: 212 16% 12%;
    --popover-foreground: 0 0% 100%;
    --card: 212 16% 13%;
    --card-foreground: 0 0% 100%;
    --border: 212 6% 20%;
    --input: 212 6% 23%;
    --primary: 6 78% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 6 30% 75%;
    --secondary-foreground: 6 30% 15%;
    --accent: 212 16% 30%;
    --accent-foreground: 212 16% 90%;
    --destructive: 6 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 6 78% 57%;
    --chart-1: 6 78% 57%;
    --chart-2: 6 30% 75%;
    --chart-3: 212 16% 30%;
    --chart-4: 6 30% 78%;
    --chart-5: 6 81% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
